body {
    margin: 0;
    font-size: 1vw;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

.container {
    display: grid;
    max-width: 100%;
    background-image: url(../assets/Tesla-9.2+poklon-tablet.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    grid-template-areas:
        'logo nav nav nav'
        'main main image image'
        'form form form form';
}

.logo {
    grid-area: logo;
    padding: 1.3vw;
}

.logo img {
    height: 3vh;
}

.nav {
    grid-area: nav;
    padding: 1.3vw;
    text-align: right;
}

a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8vw;
    padding: 1.5%;
    cursor: pointer;
}

.main {
    grid-area: main;
    padding: 0 0 15vw 20vw;
    height: fit-content;
}

article {
    display: inline-block;
    padding-top: 22%;
}

article h3 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
}

article img {
    width: 24vw;
    margin-bottom: 2vh;
}

article p {
    margin: 5px 0;
    width: 23vw;
}

.bold {
    font-weight: bold;
}

.image {
    grid-area: image;
    display: inline-block;
    position: relative;
}

.image img {
    width: 62vw;
    position: absolute;
    top: -30vw;
    left: -12vw;
}

button {
    color: whitesmoke;
    letter-spacing: 1px;
    padding: 1.2vw 1.6vw;
    margin: 3vw 0;
    text-transform: uppercase;
    background-color: rgb(254, 134, 0);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1vw;
    border: none;
}

button:hover {
    transition: 0.7s ease;
    background-color: #FF5722;
}

.form {
    grid-area: form;
    background-color: rgb(1, 0, 57);
    text-align: center;
    padding: 7.5vw 5vw 5vw;
}

.form h1 {
    text-transform: uppercase;
    font-weight: bolder;
}

.form hr {
    width: 5%;
    border: 2px solid rgb(63, 63, 250);
}

input,
textarea {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-size: 1vw;
    padding: 1vw;
    margin: 0.8vw;
    width: 29.5vw;
    border: none;
    background-color: rgb(1, 2, 94);
    box-sizing: border-box;
    resize: none;
}

input {
    height: 3.4vw;
}

::placeholder {
    color: rgba(245, 245, 245, 0.9);
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.form-left,
.form-right {
    display: inline-block;
}

.form button {
    padding: 1.1vw 3.5vw;
    font-weight: normal;
}

.g-recaptcha {
    float: right;
    margin: 0.8vw 0.8vw 0;
}

.form-right span,
.form-left span {
    position: relative;
}

.form-right i,
.form-left i {
    color: rgb(63, 63, 250);
    position: absolute;
    top: 3px;
    left: -7vw;
    cursor: pointer;
}

.form-left i {
    left: -3vw;
    top: -0.005vw;
    color: whitesmoke;
}

.help {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    display: none;
    background-color: rgba(255, 255, 255, 0.3);
    width: 8.5vw;
    text-align: left;
    padding: 1vw;
    font-size: 0.85vw;
    position: absolute;
    top: 2vw;
    left: -6.2vw;
}

.help:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0.7vw solid transparent;
    border-bottom: 0.7vw solid rgba(255, 255, 255, 0.3);
    border-right: 0.7vw solid transparent;
    left: 33%;
    top: -16%;
}

.form-right span i:hover div {
    display: block;
}